/* src/components/OrderForm.css */
.order-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* background-image: url('../images/background-orderform.jpg'); */
    background-size: cover;
    color: white;
  }
  
  .order-form h2 {
    margin-bottom: 20px;
  }
  
  .order-form input,
  .order-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .order-form button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .order-form button:hover {
    background-color: #45a049;
  }
  
  .order-form p {
    margin-top: 10px;
  }
  
  .order-form a {
    color: #fff;
    text-decoration: none;
  }
  
  .order-form a:hover {
    text-decoration: underline;
  }
  